In [1]:
import numpy as np

ModuleNotFoundError: No module named 'numpy'

In [2]:
pip install numpy

Collecting numpy
  Downloading numpy-2.1.0-cp312-cp312-win_amd64.whl.metadata (59 kB)
Downloading numpy-2.1.0-cp312-cp312-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ------ --------------------------------- 2.1/12.6 MB 11.8 MB/s eta 0:00:01
   --------------- ------------------------ 4.7/12.6 MB 11.9 MB/s eta 0:00:01
   ------------------------- -------------- 7.9/12.6 MB 13.2 MB/s eta 0:00:01
   ----------------------------------- ---- 11.3/12.6 MB 14.4 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 12.7 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-2.1.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np

In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [2]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\rydhm\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rydhm\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\rydhm\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ----- ---------------------------------- 1.6/11.5 MB 16.8 MB/s eta 0:00:01
   ------ --------------------------------- 1.8/11.5 MB 4.2 MB/s eta 0:00:03
   --------- ------------------------------ 2.6/11.5 MB 5.2 MB/s eta 0:00:02
   ----------- ---------------------------- 3.4/11.5 MB 4.2 MB/s eta 0:00:02
   ----------- ---------------------------- 3.4/11.5 MB 4.2 MB/s eta 0:00:02
   -------------- ------------------------- 4.2/11.5 MB 3.7 MB/s eta 0:00:02
   ---------------------- ----------------- 6.6/11.5 MB 4.3 MB/s eta 0:00:02
   ---------------------------------- ----- 10.0/11.5 MB 5.9 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 6.2 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("Loan.csv")

In [5]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [7]:
df.shape

(614, 13)

In [8]:
df.duplicated().sum()

np.int64(0)